@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
*{
	margin: 0;
	box-sizing: border-box;
	padding: 0;
}
body{
	font-family: 'PT Sans', sans-serif;
}
.menu{
	background: #2d3436;
}
.menu > ul{
	display: flex;
	justify-content: center;
}
.menu ul li{
	list-style: none;
	position: relative;
}
.menu ul li a{
	color: #fff;
	text-decoration: none;
	padding: 15px 25px;
	display: block;
	text-transform: uppercase;
}

.menu ul li a:hover{
	background: #000;
	color: #f1c40f;
}

.menu ul ul{
	position: absolute;
	background: #d35400;
	top: 100%;
	left: 0;
	z-index: 1;
	display: none;
}
.menu ul ul li{
	white-space: nowrap;
}


.menu ul li:hover > ul{
	display: block;
}












h1{
	color: #8e44ad;
}

.box{
	height: 250px;
	background: #2ecc71;
	width: 250px;
	margin: 100px auto;
	position: relative;
}
.inner-box{
	width: 80px;
	height: 80px;
	background: #e74c3c;
	position: absolute;
	top:100%;
	left: 100%;
}